@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html ,body{
      @apply  relative;
  
    }
    .main {
      @apply h-screen scroll-smooth scroll-p-0.5 scroll-m-0 bg-[#836953] font-indie select-none flex flex-col justify-between transition-all ease-in-out duration-200;
    }
    
    .button-x-triggered{
      @apply absolute top-0 right-0 text-white animate-bounce hover:animate-none text-3xl font-bold m-5 hover:text-red-400;
    }
   
    .note-focused {
      @apply flex flex-col justify-between transition-all ease-in-out m-auto duration-500 absolute z-40  scale-150 break-words sm:w-[60%] w-[63%] h-[50%] sm:px-8 px-3 sm:pb-4 pb-1 left-0 right-0 bottom-0 top-0;
    }

    .note-normal{
      @apply transition-all hover:border-white border-2 cursor-pointer border-transparent ease-in-out duration-500  w-fit h-fit sm:px-10 px-5 pt-5 pb-2 sm:m-4 mx-3 my-2 hover:shadow-lg hover:scale-105 relative;
    }

    .note-wrapper-triggered {
      @apply overflow-hidden absolute min-h-full left-0 right-0 bottom-0 top-0 bg-black/[.9] z-50 ;
    }

    .create-modal-active{
      @apply overflow-hidden h-full absolute flex-col bg-[#836953]/[.99]  right-0 left-0 bottom-0 top-0 z-50 flex justify-center items-center ;
    }

    
    .green-color-item{
      @apply bg-[#B5EAD7]   ;
    }
    
    
    
    .violet-color-item{
      @apply bg-[#E0BBE4]  ;
    }
    .peach-color-item{
      @apply bg-[#FFDAC1]  ;
    }

    .yellow-color-item {
      @apply bg-[#fdfd96]  ;
    }

    .blue-color-item {
      @apply bg-[#BFD9D6]  ;
    }

    .author-name {
      @apply  bg-clip-text  rounded-full text-transparent bg-gradient-to-r from-amber-800 to-pink-800 sm:text-xl text-lg font-bold sm:pt-3 pt-1;
    }

    .color-item{
      @apply border-2 border-transparent cursor-pointer sm:w-6 w-8 flex-shrink h-4 sm:aspect-auto
      rounded-full hover:shadow-xl hover:border-yellow-900    ease-in-out transition-all duration-300  mt-2 mx-1 sm:px-4 p-0 sm:pt-3  shadow-md
      ;
    }

    .btn-delete {
      @apply group-hover:text-red-500 text-transparent hover:font-bold ease-in  transition-all duration-300  self-end;
    }

    .btn-delete-focus {
      @apply text-red-500 hover:font-bold ease-in  transition-all duration-300  self-end sm:pl-4  my-2 sm:m-0 translate-y-1;
    }

  

    .list-color {
      @apply   flex  items-center  flex-wrap sm:py-0 translate-x-[-5px] mt-2;
    }

    .scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 8px;
      opacity:0.9;
      
      
    }
  
  .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: transparent;
      
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      border: 3px solid transparent;
   
      
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
  }

  


  }

